<section class="movies-list-page">
    <h2>Movies</h2>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="input-group search-input mb-4">
                    <input type="text" class="form-control" placeholder="Search for movies..."
                        aria-label="Search for movies..." aria-describedby="basic-addon2" [(ngModel)]="searchTerm"
                        (keyup.enter)="filterMovies()">
                    <span class="input-group-text pointer" id="basic-addon2" (click)="filterMovies()">Go!</span>
                </div>
            </div>
        </div>

        <div class="row movies-list">
            <!-- Here -->
            @for (movie of filteredMovies | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems:
            totalPages };
            track movie) {
            <div class="col-2 position-relative" (click)="goToMovie(movie._id)">
                @if (movie.imdb.rating) {
                <div class="poster__rating">⭐ {{ movie.imdb.rating }} /10</div>
                }
                <img [src]="movie.poster || 'assets/no-image.png'" (error)="handleImgError($event)"
                    class="poster pointer" loading="lazy" />
                <div class="poster__date">{{ movie.year }}</div>
                <div class="poster__overlay">
                    <div class="poster__title text-white text-truncate mt-3 mb-5">
                        {{ movie.title }}
                    </div>
                </div>
            </div>
            }
        </div>
        @if (filteredMovies && filteredMovies.length === 0) {
        <div class="text-center my-5">
            <img src="assets/no-results.png" alt="No movies found">
            <h4 class="mt-3 text-white">No movie found</h4>
            <p class="text-white">Try another keyword or check your spelling.</p>
        </div>
        }
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
</section>