<section class="home-page">
    <div class="home-banner">
        <img src="assets/banner.jpg" alt="Bannière films" class="banner-img" />
        <div class="banner-text">
            Découvrez les meilleurs films du moment
        </div>
    </div>
    <div class="container mt-5">
        <!-- Top Rated -->
        <div class="d-flex justify-content-between align-items-center mb-5">
            <h2 class="section-title text-white">Mieux notés</h2>
            <div class="movies-filter text-white">
                <span class="pointer">Populaire</span>
                <span class="px-3 pointer">Nouveautés</span>
                <span class="pointer">A venir</span>
            </div>

        </div>
        <div class="row">
            <carousel [itemsPerSlide]="itemsPerSlide" [singleSlideOffset]="singleSlideOffset" [noWrap]="!noWrap"
                [interval]="0" [startFromIndex]="1" (slideRangeChange)="onSlideRangeChange($event)"
                [showIndicators]="false" [isAnimated]="true">

                @for (topRatedMovie of topRatedMovies; let i = $index; track topRatedMovie) {
                <slide>
                    <div class="poster__rating">⭐ {{topRatedMovie.imdb.rating}} /10</div>
                    <div class="overlay">
                        <div class="hover"></div>
                    </div>
                    <img [src]="topRatedMovie.poster || 'assets/no-image.png'" loading="lazy"
                        (error)="handleImgError($event)" alt="image slide" class="poster pointer" />
                    <div class="poster__date">{{topRatedMovie.year}}</div>
                    <div class="poster__overlay">
                        <div class="poster__title text-white text-truncate mt-3 mb-5">{{topRatedMovie.title}}</div>
                    </div>
                </slide>
                }

            </carousel>
        </div>
        <!-- Recently Released -->
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="section-title text-white">Récemment publiés</h2>
        </div>
        <div class="row">
            <carousel [itemsPerSlide]="itemsPerSlide" [singleSlideOffset]="singleSlideOffset" [noWrap]="!noWrap"
                [interval]="0" [startFromIndex]="1" (slideRangeChange)="onSlideRangeChange($event)"
                [showIndicators]="false" [isAnimated]="true">

                @for (recentlyMovie of recentlyMovies; let i = $index; track recentlyMovie) {
                <slide>
                    @if(recentlyMovie.imdb?.rating) {
                    <div class="poster__rating">⭐ {{recentlyMovie.imdb.rating}} /10</div>
                    }
                    <div class="overlay">
                        <div class="hover"></div>
                    </div>
                    <img [src]="recentlyMovie.poster || 'assets/no-image.png'" loading="lazy"
                        (error)="handleImgError($event)" alt="image slide" class="poster pointer" />
                    <div class="poster__date">{{recentlyMovie.year}}</div>
                    <div class="poster__overlay">
                        <div class="poster__title text-white text-truncate mt-3 mb-5">{{recentlyMovie.title}}</div>
                    </div>
                </slide>
                }

            </carousel>
        </div>
    </div>
</section>